.menu-h ul{
    list-style: none;
    padding: 0 30%;
    background-color: rgb(255, 0, 0);   
}

.menu-h ul li{
    display: inline;
}

.menu-h ul li a{
    color: #ffffff;
    align-items: center;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background ,4s; 
}

.menu-h ul li a:hover{
    background-color: rgb(0, 100, 131);
    
}

.imagem-opcoes{
    align-items: left;
}
